@model IEnumerable<MovieRental.Models.MovieViewModel>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
    <link href="~/Style/StyleIndex.css" rel="stylesheet" />
</head>
<body>


    <div id="movies">
        <div id="flex_element">
            @if (@User.IsInRole("admin"))
            {
                <div class="btn-group">
                    <a id="createMovie" href="@Url.Action("AddMovie")" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>  Add Movie
                    </a>
                </div>
            }

            <div id="manager_content" class="table table-responsive">
                <table id="moviesTable">
                    <thead class="thead-inverse">
                        <tr>
                            <th>
                                Poster
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Release Date
                            </th>
                            <th>
                                Genre
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Manage
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-adres-row">

                                <td><img src="@item.Picture"></td>
                                <td>@item.Title</td>
                                <td>@item.ReleaseDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.Genre</td>
                                <td>@item.Price</td>


                                @if (@User.IsInRole("admin"))
                                {

                                    <td>
                                        <a id="editUser"  href="@Url.Action("EditMovie", new {title=@item.Title })" class="btn btn-info">
                                            <i class="glyphicon glyphicon-pencil"></i>  Edit
                                        </a>
                                        <a id="deleteUserModal" data-toggle="modal" href="@Url.Action("DeleteMovie", new {title=@item.Title })" class="btn btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>  Delete
                                        </a>
                                    </td>
                                }
                                @if (@User.IsInRole("user"))
                                {
                                    <td>
                                        <a id="editUser"  href="@Url.Action("AddOrder","Order", new {title=@item.Title })" class="btn btn-info">
                                            <i class="glyphicon glyphicon-arrow-down"></i>  Order
                                        </a>
                                    </td>
                                }
                            </tr>
                            }
                       </tbody>
                 </table>
             </div>
        </div>
    </div>
</body>
</html>
